<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/simplon.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">SIMPLON</a></h1>

    </div>

    <nav class="nav-menu">
          <ul>
            <li>
              <a class="nav-item nav-link active"  data-toggle="tab" href="#users">
                <i class="fa fa-users"></i>
                <span>Apprenenant</span>
              </a>
            </li>
            <li>
              <a  class="nav-item nav-link "  data-toggle="tab" href="#reset-password">
                <i class="fa fa-cogs"></i>
                <span>Paramétrage</span>
              </a>
            </li>
            <li>
              <a class="nav-item nav-link move-right" data-toggle="tab" href="#profile">
                <i class="fa fa-user"></i>
                <span>Mon Profile</span> 
              </a>
            </li>
            <li><a><i class="bx bx-book-content"></i>===========</a></li>
            <li><a><i class="bx bx-envelope"></i>===========</a></li>
        </ul>
    </nav>
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header>



