<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/simplon.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">SIMPLON</a></h1>

    </div>

    <nav class="nav-menu">
      <ul>
        <li class="active"><a href="#users"   ><i class="bx bx-home"></i> <span>Apprenenant</span></a></li>
        <li><a href="#reset-password"  data-toggle="tab"><i class="fa fa-cogs"></i> <span>Paramétre</span></a></li>
        <li><a><i class="bx bx-file-blank"></i> <span>============</span></a></li>
        <li><a><i class="bx bx-book-content"></i>============</a></li>
        <li><a><i class="bx bx-envelope"></i>============</a></li>
      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header>



