<app-header></app-header>



<section class="inner-page offset-3">
    <div class="container">

    <nav style="border-radius:20px;" class="navbar navbar-expand-md breadcrumb text-white " style="background:#CE0033;" [hidden]="!isAdmin">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="nav nav-pills">
                <a class="nav-item nav-link  ml-1"  style="color:white; font-size:larger;">
                  <i class="fa fa-bell"></i>
                   ESPACE ANNONCES & OFFRE D'EMPLOI
                </a>
              </div>
            </div>
    </nav>

    <button  type="button" class="btn btn-dark" data-toggle="modal" data-target="#ajoutPromoModal">
        <i class="fa fa-plus"></i>Ajouter une annonce
    </button>
    <br><br>

    <div id="services" class="section relative pb-8 md:pb-0 bg-white">
        <div class="container xl:max-w-6xl mx-auto px-4">
            <!-- row -->
            <div class="flex flex-wrap flex-row -mx-4 text-center">
                <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInUp;" *ngFor="let eps of annonce">
                    <div class="py-8 px-12 mb-12 shadow bg-white-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2" style="border-radius:20px;">
                        <div class="inline-block text-gray-900 mb-4">
                            <img src="assets/recrutement.png" alt="photo d'offre d'emploie">
                        </div>
                        <h3 class="text-lg leading-normal mb-2 font-semibold text-black"> {{eps.libelle}} </h3>
                        <p>
                          <span  class="badge badge-success">Cible :{{eps.cible}}</span>
                        </p>
                        <p class="text-gray-500"> {{eps.description}} </p>
                        <a class="btn btn-danger"  type="button" href="{{eps?.lien}}">Postuler</a><br><br>
                        <div class="btn-group" [hidden]="!isAdmin">
                            <button  class="btn btn-outline-dark" ><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-outline-danger" (click)="onDeleteAnnonce(eps)" aria-label="Delete user" > <i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <!-- end service block -->
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>




    <div class="modal draggable fade bd-example-modal-lg" id="ajoutPromoModal" tabindex="-1"
role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center">Ajouter une nouvelle annonce</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <form #promoForm="ngForm"  (ngSubmit)="onAddNewAnnonce(promoForm.value)">
          <div class="form-group">
            <label for="libelle">Entreprise</label>
            <input type="text" ngModel name="libelle" #libelleInput="ngModel" placeholder="exemple : Atos" required class="form-control">
            <label for="libelle">Description</label>
            <textarea type="text" ngModel name="description" placeholder="description de l'offre" #descriptionInput="ngModel" required class="form-control"></textarea>
            <label for="libelle">lien</label>
            <input type="text" ngModel name="lien" placeholder="exemple :https://recurtement.atos.sn" #descriptionInput="ngModel" required class="form-control">
            <label for="libelle">cible</label>
            <select name="cible"  #cibleInput="ngModel" ngModel class="form-control">
                <option value="developpeur">Développeur</option>
                <option value="Référent Digital">Référent Digital</option>
                <option value="ADEFIPA">ADEFIPA</option>
            </select>
          </div>
          <button type="submit" style="display: none;" id="new-promo-save"></button>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal" id="closePromoModalButton">Fermer</button>
      <button type="button" [disabled]="promoForm.invalid " (click)="saveNewAnnonce()" class="btn btn-dark">Enregister les modifications</button>
    </div>
  </div>
</div>
</div>

</div>
</section>

<app-footer></app-footer>
