<app-header></app-header>

<section class="inner-page offset-3">
   <div class="container">
    <!-- na -->
    <!--la liste de nos utilisateurs -->
    <!-- nav bar -->
<nav class="navbar navbar-expand-md breadcrumb text-white bg-dark" [hidden]="!isAdmin">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="nav nav-pills">
      <a class="nav-item nav-link  active ml-1"  style="color:white;" data-toggle="tab" href="#users">
        <i class="fa fa-users"></i>
        Apprenants
      </a>
      <a  class="nav-item nav-link ml-3"  style="color:white;" data-toggle="tab" href="#reset-password">
        <i class="fa fa-cogs"></i>
        Parametrage
      </a>
      <a class="nav-item nav-link move-right mr-3" style="color:white;" data-toggle="tab" href="#profile">
        Profile {{user?.firstName}}
        <i class="fa fa-user"></i>
      </a>

      <a class="nav-item nav-link move-right mr-3" style="color:white;" data-toggle="tab" href="#statistiques">
        Statistiques
        <i class="bx bx-chart"></i>
      </a>
    </div>
  </div>
</nav>


    <div class="tab-content mt-3" id="myTabContent" >

      <div class="tab-pane fade show" id="statistiques">

        <div class="row">
          <div class="col"><canvas id="myChart2"></canvas></div>
          <div class="col"><canvas id="myChart1"></canvas></div>
          <div class="w-100"></div>
          <div class="col"><canvas id="myChart"></canvas></div>
          <div class="col">Column</div>
        </div>

      </div>


      
        <!-- user table -->
        <div class="tab-pane fade show active" id="users">
          <div class="mb-3 float-right">
            <div class="btn-group mr-2">
              <form  class="form-inline my-2 my-lg-0 justify-content-center">
                <input #searchInput="ngModel" ngModel name="searchTerm" class="form-control mr-sm-2" (ngModelChange)="searchUsers(searchInput.value)"
                type="search" placeholder="Search users...">
             </form>
              <button [hidden]="!isAdmin"  type="button" class="btn btn-dark" data-toggle="modal" data-target="#addUserModal">
                <i class="fa fa-plus"></i>Ajouter un utilisateur
              </button>
            </div>
            <div class="btn-group">
              <button type="button" (click)="getUsers(true)"  class="btn btn-dark">
                <i *ngIf="refreshing"  class="fas fa-sync fa-spin"></i><i  class="fas fa-sync"></i>
              </button>
            </div>
          </div>
          
          <table class="table table-hover">
            
            <!--Permettre l affichages du champs de recherche-->
            
          </table>
          <div id="services" class="section relative pt-20 pb-8 md:pt-16 md:pb-0 bg-white">
            <div class="container xl:max-w-6xl mx-auto px-4">
                <!-- la carte des apprenants  -->
                <div class="flex flex-wrap flex-row -mx-4 text-center">
                    <div class="flex-shrink px-4 max-w-full w-full sm:w-1/2 lg:w-1/3 lg:px-6 wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;" *ngFor="let epsilon of users">
                        <!-- affichage des apprenants -->
                        <div class="py-8 px-12 mb-12 bg-gray-50 border-b border-gray-100 transform transition duration-300 ease-in-out hover:-translate-y-2" style="border-radius:20px ;">
                            <div class="inline-block text-gray-900 mb-4">
                                <!-- image -->
                                <img height="100" width="100" src="{{epsilon?.profileImageUrl}}" class="img-thumbnail" style="border-radius:90px; width:90px; height:90px;" alt=""/><br>
                                <p>
                                <span [hidden]="!epsilon?.active" class="badge badge-success">Active</span>
                                <span [hidden]="epsilon?.active" class="badge badge-danger">bloqué</span> </p><br>
                            </div>
                            <h3 class="text-lg leading-normal mb-2 font-semibold text-black">{{epsilon?.firstName}}  {{epsilon?.lastName}}</h3>
                            <div class="text-gray-500">Email : {{epsilon?.email}} <br>Téléphone :{{epsilon?.telephone}} <br> Numéro Compte : {{epsilon?.userId}} 
                             <br> 
                              <p [hidden]="!isAdmin">
                               Est :
                              <span  [hidden]="epsilon?.situations" class="badge badge-warning">A la fabrique</span>
                              <span  [hidden]="!epsilon?.situations" class="badge badge-info">En Entreprise  <button class="btn btn-outline-dark" (click)="onSelectUser(epsilon)" ><i class="fas fa-eye"></i></button></span><br>
                              Situation :
                              <span [hidden]="epsilon?.entretien" class="badge badge-danger">En attente </span>
                              <span [hidden]="!epsilon?.entretien" class="badge badge-warning">Entretien fait et validé </span>
                              </p>
                            </div>
                            <div class="btn-group" [hidden]="!isAdmin">
                              <button  class="btn btn-outline-dark" (click)="onEditUser(epsilon)"><i class="fas fa-edit"></i></button>
                              <button type="button" class="btn btn-outline-danger" aria-label="Delete user" (click)="onDeleteUser(epsilon)"> <i class="fas fa-trash"></i></button>
                              <button class="btn btn-outline-dark" (click)="onSelectUser(epsilon)" ><i class="fas fa-eye"></i></button>
                            </div>
                        </div>
                        <!-- affichage des apprenants -->
                    </div>
                    
                </div>
                <!-- la carte des apprenants -->
            </div>
          </div>
        </div>

         <!-- user profile -->
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <div class="container">
      <div class="row flex-lg-nowrap">
        <div class="col">
          <div class="row">
            <div class="col mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="e-profile">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img class="rounded" [(ngModel)]="user.profileImageUrl" height="135" width="135" src="{{user?.profileImageUrl}}" alt="">
                          </div>
                          <div *ngIf="fileStatus?.status==='progress'"  class="progress mt-1">
                            <div class="progress-bar bg-info" role="progressbar"
                            [style.width.%]="fileStatus?.percentage"
                               aria-valuenow="0" aria-valuemin="0"
                              aria-valuemax="100">{{fileStatus?.percentage}}%</div>
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                          <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user?.firstName}} {{user?.lastName}}</h4>
                          <p class="mb-0">{{user?.username}}</p>
                          <div *ngIf="user?.lastLoginDateDisplay !== null" class="text-muted"><small>Dernière connexion:
                              {{user?.lastLoginDateDisplay | date:'medium'}}</small></div>
                          <div class="mt-2">
                            <button  class="btn btn-dark" (click)="updateProfileImage()" type="button">
                              <i class="fa fa-fw fa-camera"></i>
                              <span>Changer la photo</span>
                            </button>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>A joind le : {{user?.joinDate | date:'mediumDate'}}</small></div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-content pt-3">
                      <div class="tab-pane active">
                        <form #profileUserForm="ngForm"  (ngSubmit)="onUpdateCurrentUser(profileUserForm.value)"  class="form"
                          novalidate>
                          <div class="row">
                            <div class="col">
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Prénom</label>
                                    <input type="text" [(ngModel)]="user.firstName" name="firstName" required 
                                      class="form-control">
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="form-group">
                                    <label>Nom</label>
                                    <input type="text" name="lastName" [(ngModel)]="user.lastName" required
                                      class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Nom d'utilisateur</label>
                                    <input type="text" name="username" [(ngModel)]="user.username" required 
                                      class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" name="email" required [(ngModel)]="user.email"
                                      class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col">
                                  <div class="form-group">
                                    <label>Telephone</label>
                                    <input type="text" name="telephone" required [(ngModel)]="user.telephone"
                                      class="form-control">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col mb-3">
                                  <div class="form-group">
                                    <label>Permission</label><small>(Lecture seulement)</small>
                                    <select name="role" required [(ngModel)]="user.role"  class="form-control">
                                        <option  value="ROLE_USER">Apprenant</option>
                                        <option [hidden]="!isAdmin" value="ROLE_HR"></option>
                                        <option [hidden]="!isAdmin" value="ROLE_MANAGER">Formateur</option>
                                        <option [hidden]="!isAdmin" value="ROLE_ADMIN">Administrateur</option>
                                        <option [hidden]="!isAdmin" value="ROLE_SUPER_ADMIN">Super Adiminstrateur</option>
                                      </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12 col-sm-5 offset-sm-1 mb-3" [hidden]="!isAdmin">
                              <div class="mb-2"><b>Parametre compte</b></div>
                              <div class="row">
                                <div class="col">
                                  <div class="custom-controls-stacked px-2">
                                    <div class="custom-control custom-checkbox">
                                      <input name="active" type="checkbox" [(ngModel)]="user.active" class="custom-control-input">
                                      <label class="custom-control-label">Activer</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                      <input name="notLocked" type="checkbox"
                                        [(ngModel)]="user.isNotLocked" class="custom-control-input">
                                      <label class="custom-control-label">Debloquer</label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col d-flex justify-content-end">
                              <button class="btn btn-dark" type="submit">
                                <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
                                <span *ngIf="refreshing">Chargement...</span>
                                <span *ngIf="!refreshing">Enregistrer les modifications</span>
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="px-xl-3">
                    <button (click)="onLogOut()" class="btn btn-block btn-dark">
                      <span>Déconnexion</span>
                      <i class="fas fa-sign-in-alt ml-1"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h6 class="card-title font-weight-bold">Permission</h6>
                  <h6 *ngFor="let authority of user?.authorities" class="card-text">{{authority}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


        <button style="visibility:hidden ;" type="button" id="openUserInfo" data-toggle="modal" data-target="#viewUserModal">
        </button>
        <button style="visibility:hidden ;" type="button" id="openUserEdit" data-toggle="modal" data-target="#editUserModal">
        </button>

        <!-- Changer de mot de passe  -->
    <div  class="tab-pane fade" id="reset-password" [hidden]="!isAdmin">
        <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
          <fieldset>
            <legend>Gestion mot de passe des utilisateurs</legend>
            <div class="form-group">
              <label for="exampleInputEmail1">Adresse Email</label>
              <input type="email" name="reset-password-email" required ngModel class="form-control"
                placeholder="Entrer un email (example@email.com)">
              <small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
            </div>
            <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-dark">
              <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
              <span *ngIf="refreshing">Chargement en cour...</span>
              <span *ngIf="!refreshing">réinitialiser le mot de passe</span>
            </button>
          </fieldset>
        </form>
    </div>
    
      <!--Les information s'affichant sous forme de popup modal-->
      <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img class="rounded" height="120" width="120" src="{{selectedUser?.profileImageUrl}}" alt="{{selectedUser?.firstName}}">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between">
                        <div class="text-center text-sm-left mb-sm-0">
                          <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.firstName}}
                            {{selectedUser?.lastName}}
                            </h6>
                          <p class="mb-1"></p>
                          <div class="">Status:
                            <span [hidden]="!selectedUser?.active"  class="badge badge-success">Active</span>
                            <span [hidden]="selectedUser?.active"  class="badge badge-danger">Inactive</span>
                          </div>
                          <div  class="text-muted"><small>Dernière connexion:<br>{{ selectedUser?.lastLoginDate | date:'medium'}} </small>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small> A joint la Simplon-Suivi :<br>{{ selectedUser?.joinDate | date:'medium'}} </small></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush" >
                    <li class="list-group-item"></li>
                    <li class="list-group-item" style="color:black;"><i class="fa fa-id-badge float-right"></i>
                        {{ selectedUser?.userId}}
                    </li>
                    <li class="list-group-item" style="color:black;"><i class="fa fa-envelope float-right"></i>
                        {{ selectedUser?.email}}
                    </li>
                    <li class="list-group-item" style="color:black;"><i class="fas fa-shield-alt float-right"></i>
                        {{ selectedUser?.role?.substring(5)}}
                    </li>
                    <li style="color:black;" *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i class="fas fa-sign-in-alt float-right"></i>
                        {{ selectedUser?.lastLoginDateDisplay | date:'medium'}}
                    </li>
                    <li class="list-group-item" style="color:black;">
                      <span [hidden]="!selectedUser?.isNotLocked"> 
                        <i class="fa fa-lock float-right" style="color: red;">
                        </i>
                        Compte bloqué
                      </span>
                      <span [hidden]="selectedUser?.isNotLocked" style="color:black;">
                        <i class="fa fa-unlock float-right" style="color: green;">
                        </i>
                        Compte Activé
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
  

      <!--La vue pour ajouter  un utilisateur-->
      
    <div  class="modal draggable fade bd-example-modal-lg" id="addUserModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center">Ajouter un utilisateur</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>
              <form #newUserForm="ngForm" (ngSubmit)="onAddNewUser(newUserForm)">
                <div class="form-group">
                  <label for="firstName">Prénom</label>
                  <input type="text"  name="firstName" required ngModel class="form-control">
                </div>

                <div class="form-group">
                  <label for="lastName">Nom</label>
                  <input type="text"  name="lastName" required ngModel class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="username">Nom d'utilisateur</label>
                  <input type="text" name="username" required ngModel class="form-control">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" required ngModel class="form-control">
                </div>

                <div class="form-group">
                  <label for="telephone">Téléphone</label>
                  <input type="telephone" name="telephone" required ngModel class="form-control">
                </div>

                <div class="form-group" [hidden]="!isAdmin">
                  <label for="authority">Role</label>
                  <select name="role" required ngModel="ROLE_USER" class="form-control">
                    <option value="ROLE_USER">Utilisateur</option>
                  <!--  <option value="ROLE_HR">Suprviseur</option>
                    <option value="ROLE_MANAGER">Formateur</option>
                    <option value="ROLE_ADMIN">Administrateur</option>-->
                    <option value="ROLE_SUPER_ADMIN">Super Administrateur</option>
                  </select>
                </div>

                
                <div  class="form-group">
                  <label for="authority">Role</label>
                  <input type="text" name="role" required ngModel="USER" readonly class="form-control">
                </div>

                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Photo de profile</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" accept="image/*" name="profileImage"
                      (change)="onProfileImageChange($event)"
                      class="custom-file-input">
                    <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                      <span [hidden]="fileName">Chosir une image</span>
                    </label>
                  </div>
                </div>

                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="active" ngModel class="form-check-input" >
                      Activer le compte
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="checkbox" name="notLocked" ngModel class="form-check-input">
                      bloquer le compte 
                    </label>
                  </div>
                </fieldset>
                <!--
                <fieldset class="form-group">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" name="situations" ngModel class="form-check-input" >
                      A la fabrique
                    </label>
                  </div>
                  <div class="form-check disabled">
                    <label class="form-check-label">
                      <input type="checkbox" name="situations" ngModel class="form-check-input">
                      En entreprise 
                    </label>
                  </div>
                </fieldset>
      
                <fieldset class="form-group">
                  <div class="form-check 1">
                    <label class="form-check-label">
                      <input name="entretien" type="checkbox"  [(ngModel)]="editUser.entretien"
                        class="form-check-input">
                        <small >Changer les resultats de l'entretien (En attente || Fait & validé)</small>
                    </label>
                  </div>        
                </fieldset>-->
                <button type="submit" style="display: none;" id="new-user-save"></button>
              </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="new-user-close">Fermer</button>
            <button type="button" (click)="saveNewUser()"  class="btn btn-dark">Enrégister</button>
          </div>
        </div>
      </div>
    </div>
      
    </div>
  </div>

    <!-- modal pour modifier -->
<div class="modal draggable fade bd-example-modal-lg" id="editUserModal" tabindex="-1"
role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-center">Modifier {{editUser?.firstName}}
        {{editUser?.lastName}}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <form #editUserForm="ngForm">
          <div class="form-group">
            <label for="firstName">Prénom</label>
            <input type="text" name="firstName" required value="{{editUser.firstName}}"
              [(ngModel)]="editUser.firstName" class="form-control">
          </div>
          <div class="form-group">
            <label for="lastName">Nom</label>
            <input type="text" name="lastName" required
              [(ngModel)]="editUser.lastName" class="form-control">
          </div>
          <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" required
              [(ngModel)]="editUser.username" class="form-control">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" required [(ngModel)]="editUser.email"
              class="form-control">
          </div>

          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="telephone" name="telephone" required [(ngModel)]="editUser.telephone"
              class="form-control">
          </div>
          <div class="form-group">
            <label for="authority">Role</label>
              <select name="role" required [(ngModel)]="editUser.role" class="form-control">
                <option value="ROLE_USER">apprenant</option>
                <option value="ROLE_MANAGER">Formateur</option>
                <option value="ROLE_ADMIN">Admininstrateur</option>
                <option value="ROLE_SUPER_ADMIN">Super Administrateur</option>
              </select>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text">Profile Picture </span>
            </div>
            <div class="custom-file">
                <input type="file" accept="image/*" name="profileImage"
                (change)="onProfileImageChange($event)"
                class="custom-file-input" >
              <label class="custom-file-label"><span [hidden]="!fileName">{{fileName}}</span>
                <span [hidden]="fileName">Choose File</span>
              </label>
            </div>
          </div>
          <fieldset class="form-group">
            <div class="form-check">
              <label class="form-check-label">
                <input name="active" type="checkbox" [(ngModel)]="editUser.active"
                  class="form-check-input">
                Acitve
              </label>
            </div>
            <div class="form-check disabled">
              <label class="form-check-label">
                <input name="locked" type="checkbox" [(ngModel)]="editUser.isNotLocked"
                  class="form-check-input">
                Débloquer
              </label>
            </div>
          </fieldset>

          <fieldset class="form-group">
            <div class="form-check 1">
              <label class="form-check-label">
                <input name="situations" type="checkbox"  [(ngModel)]="editUser.situations"
                  class="form-check-input">
                  <small >Changer la situation de l'apprenant (Entreprise || A la fabrique)</small>
              </label>
            </div>
            
          </fieldset>

          <fieldset class="form-group">
            <div class="form-check 1">
              <label class="form-check-label">
                <input name="entretien" type="checkbox"  [(ngModel)]="editUser.entretien"
                  class="form-check-input">
                  <small >Changer les resultats de l'entretien (En attente || Fait & validé)</small>
              </label>
            </div>
            
          </fieldset>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-dismiss="modal" id="closeEditUserModalButton">Fermer</button>
      <button type="button" (click)="onUpdateUser()" [disabled]="editUserForm.invalid" class="btn btn-dark">Enregister les modifications</button>
    </div>
  </div>
</div>
</div>


  <div  class="tab-pane fade" id="reset-password">
    <form #resetPasswordForm="ngForm" (ngSubmit)="onResetPassword(resetPasswordForm)">
      <fieldset>
        <legend>Gestion mot de passe des utilisateurs</legend>
        <div class="form-group">
          <label for="exampleInputEmail1">Adresse Email</label>
          <input type="email" name="reset-password-email" required ngModel class="form-control"
            placeholder="Entrer un email (example@email.com)">
          <small class="form-text text-muted">Nous ne partagerons jamais votre e-mail avec quelqu'un d'autre.</small>
        </div>
        <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-dark">
          <i *ngIf="refreshing" class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp;
          <span *ngIf="refreshing">Chargement en cour...</span>
          <span *ngIf="!refreshing">réinitialiser le mot de passe</span>
        </button>
      </fieldset>
    </form>
  </div>
  
      <!-- les informations de l apprenants -->
  <div class="modal fade bd-example-modal-lg" id="viewUserModal" tabindex="-1" role="dialog" aria-labelledby=""
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLongTitle">{{selectedUser?.firstName}}
                {{selectedUser?.lastName}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 col-sm-auto">
                        <div class="mx-auto" style="width: 120px;">
                          <div class="d-flex justify-content-center align-items-center rounded">
                            <img class="rounded" height="120" width="120" src="{{selectedUser?.profileImageUrl}}" alt="{{selectedUser?.firstName}}">
                          </div>
                        </div>
                      </div>
                      <div class="col d-flex flex-column flex-sm-row justify-content-between">
                        <div class="text-center text-sm-left mb-sm-0">
                          <h6 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{selectedUser?.firstName}}
                            {{selectedUser?.lastName}}</h6>
                          <p class="mb-1">{{selectedUser?.username}}</p>
                          <div class="">Status:
                            <span [hidden]="!selectedUser?.active" class="badge badge-success">Active</span>
                            <span [hidden]="selectedUser?.active" class="badge badge-danger">Inactive</span>
                          </div>
                          <div *ngIf="selectedUser?.lastLoginDateDisplay" class="text-muted"><small>Last Login: {{selectedUser?.lastLoginDateDisplay | date: 'medium'}}</small>
                          </div>
                        </div>
                        <div class="text-center text-sm-right">
                          <div class="text-muted"><small>Joined {{selectedUser?.joinDate | date: 'mediumDate'}}</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"><i class="fa fa-id-badge float-right"></i>{{selectedUser?.userId}}
                    </li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{selectedUser?.email}}
                    </li>
                    <li class="list-group-item"><i class="fas fa-shield-alt float-right"></i>{{selectedUser?.role}}
                    <li *ngIf="selectedUser?.lastLoginDateDisplay" class="list-group-item"><i
                        class="fas fa-sign-in-alt float-right"></i>{{selectedUser?.lastLoginDateDisplay | date: 'medium'}}
                    </li>
                    <li class="list-group-item">
                      <span >
                        <i class="fa fa-lock float-right" style="color: red;">
                        </i>
                        Account Locked
                      </span>
                      <span >
                        <i class="fa fa-unlock float-right" style="color: green;">
                        </i>
                        Account Unlocked
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
  </div>


   <!-- Formulaire de changement de notre photo de profile -->
   <form enctype="multipart/form-data" style="display:none;">
    <input type="file"
      (change)="onProfileImageChange($event); onUpdateProfileImage()"
     name="profile-image-input" id="profile-image-input" placeholder="file" accept="image/*" />
</form>
</section> 


<app-footer></app-footer>